@import url(global.css);

.divider {
    margin: 0 0 1rem 0;
}

.section-header {
    margin-bottom: 2.4rem;
}

.nav-bar {
    display: flex;
    position: relative;
    padding: 1rem 2rem;
    gap: 3rem;

    & .nav-item {
        position: relative;
        font-size: 1.1rem;
        cursor: pointer;
        transition: all 0.3s ease;
        
        &::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: -1rem;
            height: 0.3rem;
            border-radius: 0.1rem;
            background: transparent;
            transition: all 0.3s ease-in-out;
        }
    }
}

#course-materials:checked ~ .nav-bar label[for="course-materials"],
#e-books:checked ~ .nav-bar label[for="e-books"],
#research-papers:checked ~ .nav-bar label[for="research-papers"] {
    color: #1AADEE;
}

#course-materials:checked ~ .nav-bar label[for="course-materials"]::after,
#e-books:checked ~ .nav-bar label[for="e-books"]::after,
#research-papers:checked ~ .nav-bar label[for="research-papers"]::after {
    background-color: #00B1FF;
}

.content-container > #course-materials-content,
.content-container > #e-books-content,
.content-container > #research-papers-content {
    display: none;
}

#course-materials:checked ~ .content-container #course-materials-content,
#e-books:checked ~ .content-container  #e-books-content,
#research-papers:checked ~ .content-container  #research-papers-content{
    display: block;
}

.search-section {
    position: relative;
    align-self: end;
    display: flex;
    height: 2.4rem;
    width: 18rem;
    border-radius: 0.8rem;
    font-size: 0.9rem;
    background-color: #f8eeee;
    margin-bottom: 1rem;
    justify-self: end;

    & img {
        position: absolute;
        top: 50%;
        left: 0.6rem;
        width: 1.4rem;
        transform: translateY(-50%);
    }

    & input {
        position: absolute;
        top: 50%;
        right: 0.6rem;
        width: 83%;
        transform: translateY(-50%);
    }
}

:is(#course-materials-content, #e-books-content, #research-papers-content) {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    & .content-section {
        display: grid;
        row-gap: 1.2rem;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    }

    & .item-box:hover {
        transform: translateY(0.2rem);
        box-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
    }

    & .item-box {
        display: flex;
        flex-direction: column;
        padding: 1rem 2rem;
        border-radius: 0.8rem;
        box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
        background-color: var(--background-grey);
        transition: all 0.3s ease;
        cursor: default;

        & .item-header {
            display: flex;
            gap: 3rem;

            & .icon {
                width: 3rem;
            }

            & p {
                align-self: center;
                font-weight: bold;
                font-size: 1.1rem;
            }
        }

        & .item-content {
            width: 45rem;
            margin-left: 6rem;
            text-align: justify;

            & p {
                font-weight: 300;
            }
        }

        & .item-footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 0.4rem;

            & .item-type {
                padding: 0.2rem 1.6rem;
                border-radius: 1.6rem;
                
                & span {
                    font-size: 0.9rem;
                    color: var(--color-light-text);
                }
            }

            & .item-type.pdf {
                background-color: #FF3E4C;
            }

            & .item-type.slides {
                background-color: #FFA500;
            }

            & .item-type.link {
                background-color: #4FA4FF;
            }
            
            & .item-type.e-book-1 {
                background-color: #FFA500;
            }

            & .item-type.e-book-2 {
                background-color: #FA8072;
            }

            & .item-type.e-book-3 {
                background-color: #32CD32;
            }

            & .item-type.e-book-4 {
                background-color: #00B1FF;
            }

            & .item-type.e-book-5 {
                background-color: #BA55D3;
            }

            & p {
                font-size: 0.9rem;
                font-weight: 600    ;
                color: rgba(51, 51, 51, 0.75);
            }

            & :is(.download, .visit) {
                display: flex;
                gap: 0.6rem;
                align-items: center;

                & p {
                    font-weight: 400;
                    color: #00B1FF;
                    font-size: 0.9rem;
                    cursor: pointer;
                }
            }
        }
    }
}