@import url(global.css);

.welcome-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;

    & h2 {
        font-weight: 400;
    }

    & p {
        align-self: flex-end;
    }
}

.section-1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 3rem;
    gap: 2.5rem;

    & :is(.item-box-1, .item-box-2) {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 50%;
        padding: 1rem;
        border-radius: 1rem;
        box-shadow: 0 0.1rem 0.3rem rgba(51, 51, 51, 0.3);

        & h3 {
            margin-bottom: 0.4rem;
        }
    }

    & .item {
        display: flex;
        justify-content: space-between;
        padding: 0.8rem 1rem;
        border-radius: 1rem;
        background-color: var(--background-grey);
        box-shadow: 0 0.1rem 0.3rem rgba(51, 51, 51, 0.3);

        & .item-detail {
            display: flex;
            flex-direction: column;

            & p:first-child {
                margin-bottom: 0.6rem;
            }

            & p:last-child  {
                font-size: 0.8rem;
                color: rgba(51, 51, 51, 0.5);
            }
        }

        & button {
            padding: 0 2rem;
            background-color: #9400D3;
        }
    }
    
    & .item-button {
        cursor: pointer;
        padding: 0.8rem 1rem;
        border-radius: 1rem;
        background-color: var(--background-grey);
        box-shadow: 0 0.1rem 0.3rem rgba(51, 51, 51, 0.3);

    }

    & .buttons {
        display: grid;
        row-gap: 1.6rem;
        column-gap: 1rem;
        text-align: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;

        & .button {
            cursor: pointer;
            padding: 0.8rem 0;
            border-radius: 0.8rem;
            background-color: #9400D3;

            & p {
                color: var(--color-light-text);
            }
        }
    }

    & .item-box-1 {
        justify-content: space-between;
    }

    & .item-box-2 {
        & .search-bar {
            width: 100%;
            position: relative;
            padding: 0 0.6rem;
            background-color: var(--background-grey);
            box-shadow: 0 0.1rem 0.3rem rgba(51, 51, 51, 0.3);
        }

        & input {
            position: absolute;
            left: 1.2rem;

            &::placeholder {
                color: rgba(51, 51, 51, 0.5);
                font-weight: 400;
            }
        }
    }
}

.section-2 {
    width: 100%;

    & h3 {
        margin-bottom: 1rem;
    }
    
    & table {
        width: 100%;
        border-collapse: collapse;
    }

    & thead {
        & th {
            padding: 0.6rem 1rem;
            text-align: left;
            font-weight: 500;
            color: rgba(51, 51, 51, 0.5);
            background-color: var(--background-grey);
            border-bottom: 0.1rem solid rgba(51, 51, 51, 0.2);
            
            &:first-of-type {
                border-top-left-radius: 0.8rem;
            }
            
            &:last-of-type {
                border-top-right-radius: 0.8rem;
            }
        }
    }

    & tbody {
        & td {
            padding: 0.8rem 1rem;
        }
        
        & tr {
            &:not(:last-of-type) {
                border-bottom: 0.1rem solid rgba(51, 51, 51, 0.2);
            }
        }

        & span {
            padding: 0.4rem 0.6rem;
            font-size: 0.8rem;
            border-radius: 2rem;
            color: var(--color-light-text);
            background-color: green;
        }
    }
}