@import url(global.css);

.section-header {
    margin-bottom: 3rem;
}

.section-1 {
    display: flex;
    justify-content: space-between;
    padding: 0.6rem 1rem;
    border-radius: 1rem;
    border: 0.1rem solid var(--background-grey);
    margin-bottom: 2rem;

    & .search-bar {
        padding: 0 1rem;
        background-color: var(--background-grey);
        border: 0.1rem solid #e0e0e0;
        transition: all 0.3s ease;

        &:focus {
            outline: none;
            border-color: var(--primary-color);
            box-shadow: 0 0 0 0.05rem rgba(148, 0, 211, 0.2);
        }
    }

    & .dropdowns {
        display: flex;
        align-items: center;
        gap: 1rem;

        & p {
            font-weight: 600;
            font-size: 0.9rem;
            white-space: nowrap;
        }
    }

    & .dropdown {
        display: flex;
        position: relative;
        align-items: center;
        width: 10rem;
        gap: 0.4rem;
        
        
        & select {
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            font-family: unset;
            width: 100%;
            cursor: pointer;
            font-weight: 500;
            height: 2.6rem;
            padding: 0 0.6rem;
            border-radius: 0.8rem;
            border: 0.1rem solid #e0e0e0;
            background-color: var(--background-grey);
            box-shadow: inset 0 0.05rem 0.1rem rgba(0, 0, 0, 0.05);
            transition: all 0.3s ease;

            &:focus {
                outline: none;
                background-color: #eef0f1;
                border-color: var(--primary-color);
                box-shadow: 0 0 0 0.05rem rgba(148, 0, 211, 0.2);
            }

            &:hover {
                background-color: #e8e9eb;
            }
        }

        & .icon {
            position: absolute;
            pointer-events: none;
            right: 0.6rem;
            top: 50%;
            transform: translateY(-50%);
            fill: var(--background-dark);
            transition: all 0.3s ease;
        }
    }

    & .dropdown :is(select:hover, select:focus) + .icon {
        fill: var(--primary-color);
    }

    & .buttons {
        display: flex;
        gap: 1rem;
    }

    & button {
        width: 10rem;
        height: 100%;
        font-weight: 600;
        white-space: nowrap;
        padding: 0 1rem;
        background-color: var(--primary-color);
        transition: all 0.3s ease;

        &:hover {
            transform: scale(1.02);
        }

        &:first-of-type {
            border-radius: 6rem;
        }

        &:last-of-type {
            color: var(--primary-color);
            border: 0.1rem solid var(--primary-color);
            background-color: unset;
        }
    }
}

.section-2 {
    & table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0 1rem;
    }

    & thead {
        border-radius: 1rem !important;
        background-color: var(--background-grey);
        box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
        
        & th {
            text-align: left;
            font-weight: 600;
            color: rgba(51, 51, 51, 0.8);
            padding: 1rem 0.6rem;
            
            &:first-of-type {
                border-top-left-radius: 1rem;
                border-bottom-left-radius: 1rem;
            }

            &:last-of-type {
                border-top-right-radius: 1rem;
                border-bottom-right-radius: 1rem;
            }
        }
    }

    & tbody {
        & tr {
            cursor: default;
            border-radius: 1rem;
            box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
            transition: all 0.3s ease;
            
            &:hover {
                transform: translateY(0.1rem);
                box-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
            }
        }

        & td {
            padding: 1rem 0.6rem;
        }

        & .subject-name {
            display: flex;
            flex-direction: column;
            gap: 0.4rem;

            & .subject-code {
                width: fit-content;
                font-size: 0.9rem;
                padding: 0.4rem 1rem;
                border-radius: 1rem;
                color: var(--primary-color);
                font-weight: 500;
                background-color: var(--background-grey);
            }
        }

        & .status {
            font-size: 0.9rem;
            padding: 0.4rem 1rem;
            border-radius: 1rem;
            font-weight: 500;

            &.active {
                color: #32CD32;
                background-color: rgba(50, 205, 50, 0.2);
            }

            &.pending {
                color: #d3a92a;
                background-color: rgba(255, 202, 40, 0.2);
            }

            &.inactive {
                color: #EF4444;
                background-color: rgba(239, 68, 68, 0.2);
            }
        }

        & .edit {
            cursor: pointer;
            color: #0096D1;
        }

        & .delete {
            cursor: pointer;
            color: #EF4644;
        }
    }
}   