@import url(global.css);

.section-header {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3rem;

    & .header-details {
        display: flex;
        flex-direction: column;
    }

    & .buttons {
        display: flex;
        gap: 2rem;

        & button {
            width: 10rem;
            height: 3rem;

            &:first-of-type {
                background-color: var(--primary-color);
            }

            &:last-of-type {
                width: 8rem;
                color: var(--primary-color);
                border: 0.1rem solid var(--primary-color);
            }
        }
    }
}

.section-1 {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 1rem;
    border: 0.1rem solid var(--background-grey);
    margin-bottom: 2rem;

    & .search-bar {
        padding: 0 1rem;
        background-color: var(--background-grey);
        border: 0.1rem solid #e0e0e0;
        transition: all 0.3s ease;

        &:focus {
            outline: none;
            border-color: var(--primary-color);
            box-shadow: 0 0 0 0.05rem rgba(148, 0, 211, 0.2);
        }
    }

    & .dropdown {
        width: 16rem;
        position: relative;

        & select {
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            font-family: unset;
            width: 100%;
            cursor: pointer;
            font-weight: 500;
            height: 2.6rem;
            padding: 0 0.6rem;
            border-radius: 0.8rem;
            border: 0.1rem solid #e0e0e0;
            background-color: var(--background-grey);
            box-shadow: inset 0 0.05rem 0.1rem rgba(0, 0, 0, 0.05);
            transition: all 0.3s ease;

            &:focus {
                outline: none;
                background-color: #eef0f1;
                border-color: var(--primary-color);
                box-shadow: 0 0 0 0.05rem rgba(148, 0, 211, 0.2);
            }

            &:hover {
                background-color: #e8e9eb;
            }
        }

        & .icon {
            position: absolute;
            pointer-events: none;
            right: 0.6rem;
            top: 50%;
            transform: translateY(-50%);
            fill: var(--background-dark);
            transition: all 0.3s ease;
        }
    }

    & .dropdown :is(select:hover, select:focus) + .icon {
        fill: var(--primary-color);
    }

    & button {
        width: 8rem;
        font-weight: 600;
        padding: 0 1.8rem;
        background-color: var(--primary-color);
        transition: all 0.3s ease;

        &:hover {
            transform: scale(1.02);
        }
    }
}

#students:checked ~ .heading label[for="students"],
#instructors:checked ~ .heading label[for="instructors"], 
#admins:checked ~ .heading label[for="admins"], 
#pending:checked ~ .heading label[for="pending"] {
    color: var(--primary-color);
    background-color: rgba(148, 0, 211, 0.2);
}

#students:checked ~ .heading label[for="students"]::after,
#instructors:checked ~ .heading label[for="instructors"]::after, 
#admins:checked ~ .heading label[for="admins"]::after, 
#pending:checked ~ .heading label[for="pending"]::after {
    background-color: var(--primary-color);
}

#students:checked ~ .content-container #students-content,
#instructors:checked ~ .content-container #instructors-content, 
#admins:checked ~ .content-container #admins-content, 
#pending:checked ~ .content-container #pending-content {
    display: block;
}

.content-container > div {
    display: none;
}


.section-2 {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    padding: 1rem;

    & .heading {
        display: flex;
        border-top-right-radius: 1rem;
        border-top-left-radius: 1rem;
        border: 0.1rem solid var(--background-grey);

        & label {
            padding: 1rem 2rem;
            cursor: pointer;
            position: relative;
            background-color: transparent;
            transition: all 0.3s ease;

            &:first-of-type {
                border-top-left-radius: 1rem;
            }

            &::after {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                bottom: -0.1rem;
                height: 0.3rem;
                border-radius: 0.1rem;
                background: transparent;
                transition: all 0.3s ease;
            }
        }
    }

    & :is(#students-content, #instructors-content, #admins-content, #pending-content) {
        width: 100%;
        
        & table {
            width: 100%;
            border-collapse: collapse;
        }

        & thead {
            & th {
                text-align: left;
                padding: 0.8rem 1rem;
                border-bottom: 0.1rem solid rgba(51, 51, 51, 0.1);
                background-color: var(--background-grey2);
            }   
        }

        & tbody {
            & tr {
                cursor: default;
                border-bottom: 0.1rem solid rgba(51, 51, 51, 0.05);
                transition: all 0.3s ease;

                &:hover {
                    background-color: var(--background-grey);
                }
            }

            & td {  
                padding: 1rem;
            }

            & .profile-details {
                display: flex;
                flex-direction: row !important;
                align-items: center;
                gap: 0.6rem;

                & .details {
                    display: flex;
                    flex-direction: column;
                    gap: 0.4rem;

                    & p:first-child {
                        font-weight: 500;
                    }

                    & p:last-child {
                        font-size: 0.9rem;
                        color: var(--color-grey-text);
                    }
                }
            }

            & .profile-picture {
                width: 5rem;
                height: 5rem;
                object-fit: cover;
                border-radius: 100%;
            }

            & .status {
                font-size: 0.9rem;
                border-radius: 3rem;
                padding: 0.4rem 0.8rem;
                color: var(--color-light-text);
                background-color: transparent;

                &.active {
                    background-color: #32CD32;
                }

                &.on-leave {
                    background-color: #FF9500;
                }

                &.inactive {
                    background-color: #EF4444;
                }

                &.deceased {
                    background-color: black;
                }

                &.pending {
                    background-color: #FFCA28;
                }
            }

            & .action {
                color: #00B1FF;
                cursor: pointer;
            }
        }
    }

}